<%- include('../partials/header') %>

<!--NAVIGATION BAR FOR USER-->
<%- include('../partials/userNav') %>

<!--DASHBOARD SECTION-->
<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-user"></i> Profile</h1>
      </div>
    </div>
  </div>
</header>

<!--ACTIONS-->
<section id="actions" class="py-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mr-auto">
          <a href="/user/1" class="btn btn-light btn-block">
          <i class="fa fa-arrow-left"></i> Back To Dashboard
        </a>
      </div> 
    </div>
  </div>
</section>

<%- include('../partials/alerts') %>

<!--PROFILE-->
<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
              <img src="/images/<%=currentUser.image || "profile.png"%>" class="card-img-top rounded-circle">
            </div> 
            <div class="col-md-6">
                <h4 class="text-center pb-3">Personal Informations</h4>
                
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">First Name :   <%=currentUser.firstName%></li>
                  <li class="list-group-item">Last Name :   <%=currentUser.lastName%></li>
                  <li class="list-group-item">Username :   <%=currentUser.username%></li>
                  <li class="list-group-item">Joined :    <%=currentUser.joined.toDateString()%></li>
                  <li class="list-group-item">Email :  <%=currentUser.email%> </li>
                  <li class="list-group-item">Address :  <%=currentUser.address%></li>
                  <li class="list-group-item text-danger font-weight-bold">In Campus : <%=currentUser.violationFlag%> </li>
                  <li class="list-group-item">Due Fines :   $<%=currentUser.fines%></li>
                </ul>
            </div>
            
            <div class="col-md-3">
                <h4 class="text-center pb-3">Terms & Conditions</h4>
                <ul>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>